
      body {
      background: rgb(30,31,30);
      }
      
      #chatHistory {
        height:500px;
        width:500px;
        -webkit-appearance: caret;
        resize: none;
		background: rgb(25,26,25);
		color: white;
    	font: 14px Monaco;
    	border: none;
    	color: white;
    	text-shadow: 0 -2px 0 #0F1619;
    	line-height: 1.5;
    	overflow-y: scroll;
      }
      #chatHistory a{
	background: rgb(169,219,128);
	background: -moz-linear-gradient(top, rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1)));
	background: -webkit-linear-gradient(top, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	background: -o-linear-gradient(top, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);	
	background: -ms-linear-gradient(top, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	background: linear-gradient(top, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );
      font: 10px Lucida Grande, sans-serif;
      display: inline;
      padding: 4px 8px;
      color: rgb(30,60,10);
      text-shadow: 0 1px 0 white;
      -moz-border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-khtml-border-radius:  8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
      }
      
      input[type="text"] {
        width: 450px;
        
      }
      #chatArea {
        width:600px;
        margin: 10px auto;
        
      }
	#usersbox {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 200px;
	margin-left: 0px;
	overflow-y: hide;
	overflow-x: scroll;
	height: 100%;
	background: #191A19;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	}
	
    #usersbox img{
    margin: 0px;
    padding: 0px;
    z-index: 200;
    width: 200px;
    border: none;
    }
      input.submissions {
      display: inline;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 0px;
      padding: 4px 8px;
      width: auto;
      border: none;
      height: auto;
      background: rgb(25,26,25);
      border-bottom: 2px solid rgb(15,16,15);
      font: 14px Monaco;
      color: white;
      text-shadow: 0 -2px 0 #0F1619;
      }
      
      input.submissions:hover {
      background: gray;
      border-bottom: 2px solid white;
      cursor: pointer;
      }
      
      .submissions.live, .submissions.live:hover {
      background: gray;
      -webkit-appearance: caret;
      width: 450px;
      margin-right: 0px;
      padding: none;
      cursor: text;
      color: white;
      }
      
      .locationicon {
      margin: 0px;
      position: relative;
      width: 200px;
      height: 50px;
      }
      

      @media (max-width: 837px) {

	  #usersbox {
	  opacity: 0;
	  }
  	  }
	  @media handheld, only screen and (max-width: 481px){

	  body {
	  margin: 0px;
	  }
	  #chatArea {
	  	top: 0px;
	  	left: 0px;
        width:400px ;
        margin: 0px;
        height:125px;
        margin: 0px;
        overflow: hide;
        padding: 0px;
      }
      #chatHistory {
      left: 0px;
      width: 400px;
      margin: 0px;
      height:125px;
      margin: 0px;
      padding: 0px;
      }
      #chatHistory a {
      padding: 2px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
-khtml-border-radius:  3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
      }
      
      input[type=submit]{
      opacity: 0;
      margin: 0px;
      display: none;
      }
      input[type=text]{
      width: 400px !important ;
      margin: 0px;
      padding: 0px;
      }
      /*}
